<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--    <link rel="stylesheet" type="text/css" href="Frontend_basic.css">-->
    <style>
        h1 {
            background-color: red;
            color: chartreuse;
        }
    </style>
<!--    <script type="text/javascript" src="Frontend_basic.js"></script>-->

    <script>
        function changeColor(){
            document.getElementById("h1_id").style.color = "black";
        }
    </script>
</head>
<body>
<div>
    <h1 id="h1_id" onclick="changeColor()">This is a Test Page</h1>
    <a href="/another_page">This is naver site</a>
</div>
</body>
</html>
